body {
  margin: 0;
  width: 95%;
  background-color: #41b3a3;
}

h1 {
  text-align: center;
  color: white;
  font-size: 2rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  margin-bottom: 3em;
}

.inputs input {
  width: 30%;
  height: 2.5em;
  background-color: #e27d60;
  color: white;
  border-radius: 10px;
  margin: 0.2em 0;
}

.inputs label {
  margin: 1em 0;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.125rem;
}

.buttons {
  display: flex;
}

.btn {
  margin-top: 2em;
  margin-left: 0.75em;
  padding: 0.5em;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #85dcba;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.cards {
  display: flex;
  align-items: center;
  width: 100%;
}
.employee-list {
  height: 280px;
  width: 200px;
  background-color: #e27d60;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  position: relative;
  left: 0px;
  margin: 2em 0;
  display: flex;
  margin: 2em 2em;
  font-family: "Courier New", Courier, monospace;
  padding: 1em;
}

.employee h3 {
  margin: 1.125em;
  font-size: 1rem;
}

.employee h2 {
  font-size: 2rem;
}

.btn {
}
